.smeltecat{
    width: 500px;
    height: 500px;
    background: url(Smelte\ cat.png) 0 0 no-repeat;
    animation: play 4s steps(12) infinite alternate-reverse;
}

@keyframes play {
    0%{background-position: 0px;}
    100%{background-position: -6000px;}
}